  
services:
  web:  # Define a service named 'web'
    container_name: shareit-be
    image: shareit-be # Replace with your image name
    build:
      context: .  # Build context (current directory)
      dockerfile: ./ShareItAPI/Dockerfile  # Specify the Dockerfile to use
    ports:
      - "80:80"
  frontend:
    container_name: shareit-fe
    image: shareit-fe
    build:
      context: .
      dockerfile: ./ShareItFE/Dockerfile
    ports:
      - "7045:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - web